body {
    padding: 0;
    margin: 0;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

.header {
    padding: 60px 0;
    background: rgba(76, 188, 252, 1);
    background: -moz-linear-gradient(-45deg, rgba(76, 188, 252, 1) 0%, rgba(55, 144, 217, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(76, 188, 252, 1)), color-stop(100%, rgba(55, 144, 217, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(76, 188, 252, 1) 0%, rgba(55, 144, 217, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(76, 188, 252, 1) 0%, rgba(55, 144, 217, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(76, 188, 252, 1) 0%, rgba(55, 144, 217, 1) 100%);
    background: linear-gradient(135deg, rgba(76, 188, 252, 1) 0%, rgba(55, 144, 217, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4cbcfc', endColorstr='#3790d9', GradientType=1);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer__desk {
    font-family: 'Ubuntu', sans-serif;
}

.offer__title {
    width: 560px;
    color: white;
    font-weight: bold;
    font-size: 37px;
    line-height: 1.3;
    font-family: 'Ubuntu', sans-serif;
}

.offer__title span {
    font-size: 59px;
}

.offer__text {
    margin-top: 50px;
    width: 400px;
    color: white;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.offer__img {
    max-width: 100%;
}

.offer__btn {
    margin-top: 45px;
}

.btn {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.7;
    background-color: yellow;
    color: #2e2a1b;
    padding: 15px 30px;
    text-decoration: none;
    transition: background .2s linear;
}

.btn:hover {
    background-color: #e2b916;
}

.future {
    padding: 120px 0;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    margin-bottom: 70px;
    text-align: center;
    font-size: 30px;
    line-height: 0.8;
    font-weight: bold;
}

.future__inner {
    display: inline-flex;
    text-align: center;
}

.future__item {
    width: 33.3333%;
}

.future__title {
    font-size: 19px;
    font-weight: bold;
}

.future__text {
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.item--time {
    background: url(img/icon3.jpg) center top no-repeat;
    padding-top: 80px
}

.item--palm {
    background: url(img/icon2.jpg) center top no-repeat;
    padding-top: 80px
}

.item--rocket {
    background: url(img/icon1.jpg) center top no-repeat;
    padding-top: 80px
}

.ticket {
    display: flex;
    text-align: center;
    background-color: #ecf3f8;
    font-family: 'Ubuntu', sans-serif;
    padding: 100px 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 350px;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #fff;
    padding: 17px 0 17px 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid gray;
}

.input:last-child {
    margin-bottom: 0;
}

.btn--ticket {
    border: 0;
    padding: 15px 93px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.footer {
    background-color: #164d7a;
    padding: 25px 0;
}

.footer__text {
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-family: ' Open Sans ' sans-serif;
}